body {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

p {
  text-align: justify;
}

section {
  margin-top: 30px;
}

.viaje, .reserva {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 5px;
}

#mensaje-final {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.imagen-destino {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.imagen-destino:hover {
  transform: scale(1.05);
}


.viaje {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.viaje:hover {
  transform: scale(1.02);
}

button {
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #005fa3;
}
